@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
:root {
  --primary-color: #0d3052;
  --secondary-color: #16b096;
  --tertiary-color: #ec3d58;
  --quaternary-color: #fcdab7;
  --white: #ffffff;
  --black: #000000;
  --gray: #9a9a9a;
  --light-gray: #f2f2f2f2;
  --dark-gray: #3b3b3b;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: var(--dark-gray);
  height: 100vh;
  margin: 0;
  text-align: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--dark-gray);
}

img {
  width: 100%;
}

.primary-nav {
  display: none;
}

.hero-design {
  display: none;
}

.logo {
  display: none;
}

.container {
  padding: 4em 2em;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

.navbar {
  background: var(--primary-color);
}

.navbar .container {
  padding: 2em;
}

.navbar .secondary-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .secondary-nav a {
  color: var(--white);
  padding: 10px;
}

@media only screen and (min-width: 600px) {
  .navbar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2em;
  }
  .navbar .logo {
    display: inline-block;
    color: var(--secondary-color);
    font-weight: bold;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav .primary-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar nav .primary-nav a {
    color: var(--white);
    padding: 10px;
  }
}

.hero {
  background: var(--primary-color);
  color: var(--white);
}

.hero h1 {
  font-size: 2.3em;
}

.hero p {
  color: var(--quaternary-color);
  font-weight: bold;
}

.hero .scroll {
  width: 24px;
  margin-top: 2em;
}

img {
  border-radius: 1em;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary-color);
  letter-spacing: 0.2em;
  font-size: 0.85em;
  margin: 0.3em;
}

.title {
  font-size: 1.3em;
  font-weight: bold;
  color: var(--black);
}

.desc {
  font-size: 0.9em;
  line-height: 1.8em;
  margin-bottom: 3em;
}

.desc a {
  color: var(--tertiary-color);
}

.featured {
  position: relative;
  background: var(--light-gray);
}

.featured .hex {
  position: absolute;
  left: 0;
  top: 0;
  width: 270px;
  opacity: 0.3;
  z-index: -1;
}

.skills {
  background: var(--quaternary-color);
}

.skills li {
  background: var(--white);
  border-radius: 1em;
  padding: 2em;
  margin-bottom: 1em;
}

.skills i {
  font-size: 50px;
  color: var(--primary-color);
}

.skills .icon-container {
  height: 100px;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.skills .title-skill {
  text-transform: uppercase;
  font-weight: bold;
}

.portfolio {
  background: var(--light-gray);
}

@media only screen and (min-width: 800px) {
  .featured,
  .portfolio {
    text-align: left;
  }
  .featured .container,
  .portfolio .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
  }
  .featured .container .left-col,
  .portfolio .container .left-col {
    display: -ms-grid;
    display: grid;
    place-content: center;
    margin-right: 2em;
  }
  .featured .container .left-col .desc,
  .portfolio .container .left-col .desc {
    margin: unset;
  }
  .skills ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    grid-gap: 2em;
  }
}

@media only screen and (min-width: 1100px) {
  .hero {
    text-align: left;
  }
  .hero .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
  }
  .hero .container h1 {
    font-size: 3em;
    line-height: 1.2em;
  }
  .hero .container .hero-design {
    display: block;
    width: 100%;
  }
}

.circle {
  animation: circleAnim 1s infinite alternate-reverse;
}

@-webkit-keyframes circleAnim {
  from {
    -webkit-transform: translate(244px, 631px);
            transform: translate(244px, 631px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(244px, 655px);
            transform: translate(244px, 655px);
  }
}

@keyframes circleAnim {
  from {
    -webkit-transform: translate(244px, 631px);
            transform: translate(244px, 631px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(244px, 655px);
            transform: translate(244px, 655px);
  }
}
/*# sourceMappingURL=main.css.map */