@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root {
  --primary-color: #0d3052;
  --secondary-color: #16b096;
  --tertiary-color: #ec3d58;
  --quaternary-color: #fcdab7;
  --white: #ffffff;
  --black: #000000;
  --gray: #9a9a9a;
  --light-gray: #f2f2f2f2;
  --dark-gray: #3b3b3b;
}

* {
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: var(--dark-gray);
  height: 100vh;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--dark-gray);
}

img {
  width: 100%;
}

.secondary-nav {
  display: none;
}

.hero-design {
  display: none;
}

.container {
  padding: 4em 2em;
  text-align: center;
}

.navbar {
  background: var(--primary-color);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
  }

  .logo {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: 0.05em;
  }

  .primary-nav {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    a {
      color: var(--white);
      &:hover {
        border-bottom: 2px solid var(--white);
      }
    }
  }
}

.hero {
  background: var(--primary-color);
  color: var(--white);

  h1 {
    font-size: 2.3em;
  }

  p {
    color: var(--quaternary-color);
    font-weight: bold;
  }

  .scroll {
    width: 24px;
    margin-top: 2em;
  }
}

img {
  border-radius: 1em;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary-color);
  letter-spacing: 0.2em;
  font-size: 0.85em;
}

.title {
  font-size: 1.3em;
  font-weight: bold;
  color: var(--black);
}

.desc {
  font-size: 0.9em;
  line-height: 1.8em;

  a {
    color: var(--tertiary-color);
  }
}

.featured {
  position: relative;

  .hex {
    position: absolute;
    left: 0;
    top: 0;
    width: 240px;
  }
}

.skills {
  background: var(--quaternary-color);

  ul {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  li {
    background: var(--white);
    border-radius: 1em;
    padding: 2em;
  }

  i {
    font-size: 50px;
    color: var(--primary-color);
  }

  .icon-container {
    height: 100px;
    display: grid;
    place-content: center;
  }

  .title-skill {
    text-transform: uppercase;
    font-weight: bold;
  }
}
