@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root {
  --primary-color: #0d3052;
  --secondary-color: #16b096;
  --tertiary-color: #ec3d58;
  --quaternary-color: #fcdab7;
  --gray: #9a9a9a;
  --light-gray: #f2f2f2f2;
  --dark-gray: #3b3b3b;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: var(--dark-gray);
  height: 100vh;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--dark-gray);
}

img {
  width: 100%;
}

.secondary-nav {
  display: none;
}

.hero-design {
  display: none;
}
