@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root {
  --primary-color: #0d3052;
  --secondary-color: #16b096;
  --tertiary-color: #ec3d58;
  --quaternary-color: #fcdab7;
  --white: #ffffff;
  --black: #000000;
  --gray: #9a9a9a;
  --light-gray: #f2f2f2f2;
  --dark-gray: #3b3b3b;
}

* {
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: var(--dark-gray);
  height: 100vh;
  margin: 0;
  text-align: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--dark-gray);
}

img {
  width: 100%;
}

.primary-nav {
  display: none;
}

.hero-design {
  display: none;
}

.logo {
  display: none;
}

.container {
  padding: 4em 2em;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

.navbar {
  background: var(--primary-color);

  .container {
    padding: 2em;
  }

  .secondary-nav {
    display: flex;
    justify-content: center;
    a {
      color: var(--white);
      padding: 10px;
    }
  }
}

@media only screen and (min-width: 600px) {
  .navbar {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2em;
    }

    .logo {
      display: inline-block;
      color: var(--secondary-color);
      font-weight: bold;
    }

    nav {
      display: flex;

      .primary-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
          color: var(--white);
          padding: 10px;
        }
      }
    }
  }
}

.hero {
  background: var(--primary-color);
  color: var(--white);

  h1 {
    font-size: 2.3em;
  }

  p {
    color: var(--quaternary-color);
    font-weight: bold;
  }

  .scroll {
    width: 24px;
    margin-top: 2em;
  }
}

img {
  border-radius: 1em;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary-color);
  letter-spacing: 0.2em;
  font-size: 0.85em;
  margin: 0.3em;
}

.title {
  font-size: 1.3em;
  font-weight: bold;
  color: var(--black);
}

.desc {
  font-size: 0.9em;
  line-height: 1.8em;
  margin-bottom: 3em;

  a {
    color: var(--tertiary-color);
  }
}

.featured {
  position: relative;
  background: var(--light-gray);

  .hex {
    position: absolute;
    left: 0;
    top: 0;
    width: 270px;
    opacity: 0.3;
    z-index: -1;
  }
}

.skills {
  background: var(--quaternary-color);

  li {
    background: var(--white);
    border-radius: 1em;
    padding: 2em;
    margin-bottom: 1em;
  }

  i {
    font-size: 50px;
    color: var(--primary-color);
  }

  .icon-container {
    height: 100px;
    display: grid;
    place-content: center;
  }

  .title-skill {
    text-transform: uppercase;
    font-weight: bold;
  }
}

.portfolio {
  background: var(--light-gray);
}

@media only screen and (min-width: 800px) {
  .featured,
  .portfolio {
    text-align: left;

    .container {
      display: grid;
      grid-template-columns: 40% auto;

      .left-col {
        display: grid;
        place-content: center;
        margin-right: 2em;

        .desc {
          margin: unset;
        }
      }
    }
  }

  .skills {
    ul {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-gap: 2em;
    }
  }
}

@media only screen and (min-width: 1100px) {
  .hero {
    text-align: left;

    .container {
      display: grid;
      grid-template-columns: 40% auto;

      h1 {
        font-size: 3em;
        line-height: 1.2em;
      }

      .hero-design {
        display: block;
        width: 100%;
      }
    }
  }
}

.circle {
  animation: circleAnim 1s infinite alternate-reverse;
}

@keyframes circleAnim {
  from {
    transform: translate(244px, 631px);
    z-index: 5;
  }
  to {
    transform: translate(244px, 655px);
  }
}
